.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.navbar-brand img {
  width: 20%;
}

.nav-link-fe {
  margin-left: 1.6rem;
  font-size: 1.1rem;
  font-weight: 200;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
